<div class="col-xs-12 skills social-links">
  <h4 class="">Skills</h4>
  <ul class="list-group">
    <div class="col-xs-2">
      <li class="list-group-item">
        <%= link_to "#", target: "_blank", alt: "HTML 5 / CSS", class: "skill" do %>
          <%= image_tag "Skills_Icons/html5.png", width: 80, height: 80, alt: "html5" %>
        <% end %>
      </li>
    </div>
    <div class="col-xs-2">
      <li class="list-group-item">
        <%= link_to "#", target: "_blank", alt: "Rails / Ruby", class: "skill" do %>
          <%= image_tag "Skills_Icons/ruby.png", width: 80, height: 80, alt: "ruby" %>
        <% end %>
      </li>
    </div>
    <div class="col-xs-2">
      <li class="list-group-item">
       <%= link_to "#", target: "_blank" , alt: "JavaScript", class: "skill" do %>
         <%= image_tag "Skills_Icons/javascript6.png", width: 80, height: 80, alt: "JavaScript6" %>
       <% end %>
      </li>
    </div>
    <div class="col-xs-2">
      <li class="list-group-item">
       <%= link_to "#", target: "_blank" , alt: "Backbone.js", class: "skill" do %>
         <%= image_tag "Skills_Icons/backbone.png", width: 80, height: 80, alt: "Backbone.js" %>
       <% end %>
      </li>
    </div>
    <div class="col-xs-2">
      <li class="list-group-item">
       <%= link_to "#", target: "_blank" , alt: "jQuery", class: "skill" do %>
         <%= image_tag "Skills_Icons/jQuery.gif", width: 80, height: 80, alt: "jQuery" %>
       <% end %>
      </li>
    </div>
    <div class="col-xs-2">
      <li class="list-group-item">
       <%= link_to "#", target: "_blank" , alt: "Bootstrap", class: "skill" do %>
         <%= image_tag "Skills_Icons/bootstrap.png", width: 80, height: 80, alt: "Bootstrap" %>
       <% end %>
      </li>
    </div>
  </ul>
</div>