<div class="row">
  <div class="col-xs-12 home-page background-image row-padding">
    <div id="grid-container" data-value="1">
        <div class="grid gray">0</div>
        <div class ="grid pink">1</div>
        <div class="grid gray">2</div>
        <div class ="grid pink">3</div>
        <div class="grid gray">4</div>
        <div class ="grid pink">5</div>
        <div class="grid gray">6</div>
        <div class ="grid pink">7</div>
        <div class="grid gray">8</div>
        <div class ="grid pink">9</div>
      </div>
    <%= render "pages/home" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 welcome-page row-padding">
    <%= image_tag("angkor1.png", class: "welcome-spacer") %>
    <%= render "pages/welcome" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 about_me background-image row-padding">
    <%= render "pages/about_me" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 projects row-padding">
    <%= render "index" %>
  </div>
</div>

<div class="row ">
  <div class="col-xs-12 contact background-image row-padding">
    <%= render "contact_mes/new" %>
  </div>
</div>
