<div class="row">
  <div class="col-xs-12 home-page background-image row-padding">
    <%= render "pages/home" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 welcome-page row-padding">
    <%= image_tag("angkor1.png", class: "welcome-spacer") %>
    <%= render "pages/welcome" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 about_me background-image row-padding">
    <%= render "pages/about_me" %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 projects row-padding">
    <%= render "index" %>
  </div>
</div>

<div class="row ">
  <div class="col-xs-12 contact background-image row-padding">
    <%= render "contact_mes/new" %>
  </div>
</div>
