<div class="row">
  <div class="col-xs-12 row-padding project">
   <p>
     <strong>Title:</strong>
     <%= @project.title %>
   </p>

   <p>
     <strong>Url:</strong>
     <%= @project.url %>
   </p>

   <p>
     <strong>Description:</strong>
     <%= @project.description %>
   </p>

   <p>
     <strong>Ord:</strong>
     <%= @project.ord %>
   </p>

   <p>
     <strong>Display:</strong>
     <%= @project.display %>
   </p>
   
   
    <% if @project.picture %>
      <figure class="figure project-picture">
        <%= image_tag(@project.image.url, alt: @project.picture.title) %>
      </figure>
    <% end %>

   <%= link_to 'Edit', edit_project_path(@project) %> |
   <%= link_to 'Back', projects_path %>
  </div>
</div>