<%= simple_form_for picture, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :title %>
    <%= f.input :position %>
    <%= f.input :display %>
    <%= f.input :image, as: :file, input_html: { class: "file-input" }%>
      
  </div>

  <div class="form-actions form-group">
    <%= f.button :submit %>
  </div>
<% end %>
